.verao {
    background-color: orange;
    color: black;
}

.outono {
    background-color: brown;
    color: aliceblue;
}

.inverno {
    background-color: gray;
    color: black;
}

.primavera {
    background-color: green;
    color: aliceblue;
}